/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background-color: #FFFFFF;
    color: #262b33;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

.header {
    background-color: #F5F5F5;
    height: 250px;
    position: relative;
}

.header__content {
    padding: 45px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__text {
    color: #000000;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-decoration: none;
}

.actions__download-btn {
    background-color: #3666F7;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.133984px;
    appearance: none;
    outline: none;
    text-align: center;
    padding: 12px 28px;
    cursor: pointer;
    transition: background-color .1s ease;
    border: none;
    border-radius: 6px;
}

.actions__download-btn:hover {
    background-color: #0940E7;
}

.resume-container {
    margin-bottom: 180px;
    margin-top: -125px;
}

.resume-page {
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    width: 900px;
    min-height: 1200px;
    margin: auto;
    z-index: 2;
}

.resume-page__content {
    padding: 70px;

}

.content__column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lang__column{
    margin-top: 22px;
}

.resume-page__head {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.image__container {
    display: flex;
}

.resume-page__head__name {
    font-size: 28px;
    line-height: 34px;
}

.resume-page__head__position {
    font-size: 24px;
    color: #555555;
    line-height: 34px;
}

.resume-page__head__contacts {
    color: #AAAAAA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    text-align: right;
    line-height: 32px;
}

.telegram_link {
    font-size: 16px;
    text-align: right;
    line-height: 32px;
    text-decoration: none;
    color: #AAAAAA;
}

.telegram_link:hover {
    opacity: 0.5;
    transition: 0.7s;
}

.src_link {
    text-align: right;
    line-height: 32px;
    text-decoration: none;
    color: #AAAAAA;
}

.src_link:hover {
    opacity: 0.5;
    transition: 0.7s;
}

.introduction {
    margin-top: 40px;
    margin-bottom: 48px;
    color: #555555;
    font-size: 32px;
    line-height: 40px;
}


.skills {
    display: flex;
}

.resume-page__body__head__text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.resume-page__body__body__text {
    margin-top: 16px;
    font-size: 18px;
    flex-basis: 450px;
    line-height: 24px;
}

.resume-page__column_stile {
    margin-top: 13px;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
}

.resume-page__margin-top_40 {
    margin-top: 40px;
}

.right__column {
    margin-left: 50px;
}

.text_grey {
    color: #555555;
}

.resume-page__body__head__text_red {
    color: #EE5035;
}

.resume-page__body__head__text_lite-red {
    color: #FB746A;
}


.text__date {
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    margin-top: 16px;
}

.text__date_INTERNSHIP {
    margin-top: 16px;
}

.text__date_PROJECTS {
    margin-top: 8px;
}

.introduction_text {
    font-size: 18px;
    line-height: 22px;
    color: #555555;
    margin-bottom: 12px;
}

ul.dash {
    list-style: none;
    margin-bottom: 12px;
    padding-left: 0em;
}

ul.dash > li:before {
    display: inline-block;

    text-indent: 1em;
    content: "— ";
    margin-left: -1em;
}

.footer__link {
    display: flex;
    padding-top: 100px;
    justify-content: flex-end;
    align-content: flex-end;
}


.resume-page__body__head__text_purple {
    color: #A066F8;
}

.resume-page__body__head__text_green {
    color: #32CD88;
}

.resume-page__body__head__text_blue {
    color: #38BEF8;
}
.soc-block{
    display: flex;
}

.soc-block a{
   margin-left: 16px;
}

.soc-block a:hover img {
    opacity: 0.5;
    transition: 0.7s;
}

.soc-block a img {
    transition: 0.7s;
}

.main__content {
    width: 50%;
}

@media screen and (max-width: 992px) {
    .header {
        height: 100px;
    }

    .resume-container {
        display: flex;
        margin-top: -60px;
    }

    .resume-page {
        margin: auto 20px;
        width: 100%;
    }

    .resume-page__content {
        padding: 30px;
    }

    .resume-page__head__contacts {
        font-size: 24px;
    }

    .telegram_link{
        font-size: 24px;
    }

    .footer__link {
        justify-content: center;
    }

    .main__content, .side__content {
        width: 100%;
    }

    .side__content .skills__column {
        margin-top: 40px;
    }

    .side__content {
        display: flex;
        flex-wrap: wrap;
    }

    .lang__column {
        margin-top: 40px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 700px) {
    .resume-page__head__contacts {
        width: 100%;
        text-align: left;
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .lang__column {
        width: 100%;
        margin-left: 0;
        margin-top: 22px;
    }
}

@media screen and (max-width: 400px) {
    .image__container {
        display: flex;
        flex-wrap: wrap;
    }

    .resume-page__head {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }

    .resume-page__head__contacts {
        font-size: 18px;
    }

    .telegram_link{
        font-size: 18px;
    }

    .introduction {
        font-size: 24px;
    }

    .skills {
        flex-wrap: wrap;
    }

    .skills .right__column {
        width: 100%;
        margin-left: 0;
    }
}